<!DOCTYPE html>
<html>
<head><title>{{ page.title }}</title></head>
<style>
  a { color: #006da5; }
  a:hover { color: #000000; }
  body { font-size: 1.2em; line-height: 1.6em; margin: 4em auto; max-width: 560px; width: 90%; font-family: "Helvetica", "Arial", sans-serif; }
  h1, h2, h3 { letter-spacing: -.028em; line-height: 1.1em; margin-top: 2em; }
  h1 { background-color: #caf9ff; }
  pre, code { font-size: .9em; font-family: "Monaco", "Lucida Console", monospace; }
  pre { overflow-x: auto; margin: 0 0 2em 0; }
  img { max-width: 100%; height: auto; }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<h1>{{ page.title }}</h1>
{{ content }}
<!-- p>
  <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>
  by <a href="https://www.romanzolotarev.com/">Roman Zolotarev</a>
</p -->
